<div id="doc2" class="yui-t7">
  <div id="inner">
    <app-main-component [mainInfo]="(resumeMetadata$ | async)?.mainInfo"></app-main-component>
    <div id="bd">
      <div id="yui-main">
        <div class="yui-b">
          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Profile</h2>
            </div>
            <div class="yui-u">
              <p class="enlarge" ng-if="resumeMetadata$">
                <app-summery [summary]="(resumeMetadata$ | async)?.summary"></app-summery>
              </p>
            </div>
          </div>
          <!--// .yui-gf -->
          <div >
            <app-basic-skills [basicSkills]="(resumeMetadata$ | async)?.basicSkills"></app-basic-skills>
          </div>
          <div class="skills-special-class"></div>
          <div class="yui-gf">
            <app-experience [experience]="(resumeMetadata$ | async)?.experince"></app-experience>
          </div>
          <!--// .yui-gf -->
          <div class="yui-gf">
            <app-education [education]="(resumeMetadata$ | async)?.education"></app-education>
          </div>
          <!--// .yui-gf -->
          <div class="yui-gf">
            <app-extra-activities [extraActivity]="(resumeMetadata$ | async)?.extraActivities"></app-extra-activities>
          </div>
          <!--// .yui-gf -->
          <div class="yui-gf last">
            <app-contact-info [contactInfo]="(resumeMetadata$ | async)?.contactInfo"></app-contact-info>
          </div>
          <!--// .yui-gf -->
        </div>
        <!--// .yui-b -->
      </div>
      <!--// yui-main -->
    </div>
    <!--// bd -->



  </div>
  <!-- // inner -->


</div>
<!--// doc -->